*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e60012;
  --clr-dark-red: #ac000d;
  --clr-blue: #d6f0fa;
  --clr-dark-blue: #0b2b6b;
  --clr-dark-gray: #434242;
  --clr-gray: #484848;
  --clr-medium-gray: #727272;
  --clr-light-gray: #efefef; 
  --clr-border: #dadada;
  --trsn--color: color 150ms linear;
}

body {
  color: var(--clr-dark-gray);
  font-family: "Geologica", sans-serif;
}


/* HEADER */
.header-div,
.header-div>div,
.header-buttons,
.search button,
.log-in-button,
.shipping-info,
.shipping-info span {
  display: flex;
  align-items: center;
}
.header-div {
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}


.logo {
  display: flex;
  justify-content: center;
  height: 59px;
  width: 132px;
  background-color: var(--clr-red);
  color: white;
  cursor: pointer;
}
.header-buttons {
  gap: 1rem;
  margin-left: 1rem;
}

.header-buttons svg {
  color: var(--clr-red);
}
.header-buttons svg,
.search button svg,
.log-in-button svg {
  width: 16px;
  margin-right: 6px;
}

.header-buttons button,
.search button {
  display: flex;
  align-items: center;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-dark-gray);
  border: none;
  background-color: transparent;
  cursor: pointer;
}  
.header-buttons button:hover,
.search button:hover,
.search button:hover svg,
.wish-list:hover,
.cart:hover {
  color: var(--clr-red);
}
.header-buttons>div {
  /* border: 1px solid red; */
 /*  position: relative; */
}

/* MENU DROPDOWN CONTENT */
.dropdown-content {
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
/* 
  border: 1px solid green; */
}

.explore-dropdown { /* ***************** */
  display: none;
}
.gaming-systems {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0; 
  padding-bottom: 1.5rem;
  min-height: 145px;
  border-bottom: 1px solid var(--clr-border);
}
.gaming-systems a,
.explore-buttons a,
.explore-characters a,
.shop-categories a {
  text-decoration: none;
  color: var(--clr-dark-gray);
}
.gaming-systems a {
  width: 300px;
  font-size: 21px;
  font-weight: 600;
 /*  border: 1px solid blueviolet; */
  transition: var(--trsn--color);
}
.gaming-systems a:hover {
  color: var(--clr-red);
}

.gaming-systems span {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.gaming-systems img {
  height: 100px;
  display: block;
  margin-inline: auto;
}
.explore-buttons {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--clr-border);
}
.explore-buttons svg {
  color: var(--clr-red);
  width: 1.5rem;
  margin-right: 10px;
}
.explore-buttons a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid var(--clr-border);
  border-radius: 2rem;
  padding: 2px 32px;
  line-height: 2.2;
  transition: var(--trsn--color);
}
.explore-buttons a:hover,
.explore-characters a:hover  {
  color: var(--clr-red);
}

.explore-characters {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}
.explore-characters>div {
  font-weight: 600;
  margin: 1rem 0;
}
.explore-characters a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: var(--trsn--color);
}

.explore-characters img {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.close-dropdown-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  border: none;
  cursor: pointer;
  color: rgb(200, 200, 200);
}
.close-dropdown-button:hover {
  color: var(--clr-gray);
}

/* .shop-dropdown {
  display: none;
}
 */
.shop-dropdown>div {
  display: flex;
  align-items: center;
}
.my-nintendo-store {
  background-color: var(--clr-red);
  color: white;
  padding: 1.5rem;
  margin: 1.5rem;
  min-width: 300px;
  flex-basis: max-content;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 150ms linear;
}
.my-nintendo-store:hover {
  background-color: var(--clr-dark-red);
}

.my-nintendo-store h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.my-nintendo-store h2 svg {
  margin-right: 10px;
}
.my-nintendo-store div p {
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  line-height: 2;
}
.shop-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 1.5rem;
  margin-right: 1.5rem;
  gap: 1rem;
  border: 1px solid red;
}
.shop-categories a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  height: 60px;
  padding: 4px 12px;
  border: 1px solid var(--clr-border);
  border-radius: 2rem;
}
.shop-categories svg {
  color: var(--clr-red);
  width: 2rem;
  margin-right: 10px;
}



.header-div>div:nth-child(2) {
  gap: 1rem;
  padding-inline: 20px;
}
.search button svg {
  color: var(--clr-dark-gray);
}

.wish-list,
.cart {
  color: var(--clr-dark-gray);
  padding: 8px 12px;
  display: flex;
  justify-content: center;
}

.log-in-button {
  color: var(--clr-red);
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid var(--clr-red);
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
}
.shipping-info {
  justify-content: center;
  padding: 0.7rem 0;
}
.shipping-info span:first-child {
  padding-right: 1rem;
  border-right: 1px solid var(--clr-dark-gray);
}
.shipping-info span:last-child {
  padding-left: 1rem;
}
.shipping-info svg {
  color: var(--clr-red);
  margin-right: 10px;
}

.shipping-info a {
  color: var(--clr-dark-gray);
  font-weight: 600;
}
.shipping-info a:hover {
  color: var(--clr-red);
} 
.main-game-section {
  background-color: var(--clr-blue);
  border: 1px solid red;
}
.game-div {
  background-color: white;
  padding: 2rem 3rem;
  max-width: 1240px;
  margin-inline: auto;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 4px 16px 0 rgba(60, 64, 89, 0.15);

}

.breadcrumb-list {
  font-size: 12px;
  font-weight: 700;
}
.breadcrumb-list ol {
 list-style-type: none;
 display: flex;
}
.breadcrumb-list ol li {
  display: flex;
  align-items: center;
}

.breadcrumb-list a {
 text-decoration: none;
 color: var(--clr-medium-gray);
}
.breadcrumb-list a:last-child {
  color: var(--clr-gray);
}
.breadcrumb-list i {
  color: rgb(114, 114, 114, 0.4);
  font-size: 13px;
  margin-inline: 9px;
}

.slides-with-info-div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  margin-top: 1rem;
}
.game-info {
  color: var(--clr-gray);
}
.game-info h1 {
  font-size: 1.8rem;
  /* line-height: 2; */
  margin-bottom: 1rem;
  font-weight: 600;
}

.version-div,
.edition-div {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  line-height: 3;
}
.version-div span,
.edition-div span {
  font-weight: 600;
}
.price-like-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1.5rem;
}
.price-like-div div {
  font-size: 1.7rem;
  font-weight: 600;
}
.wishlist-button {
  border: none;
  background: transparent;
  padding: 3px 4px;
  cursor: pointer;
}
.wishlist-button i {
  color: var(--clr-red);
  font-size: 1.7rem;
  transform: scale(0.95, 1);
}
.wishlist-button:hover i {
  color: var(--clr-dark-red);
}

.download-button {
  color: white;
  background-color: var(--clr-red);
  border: none;
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.download-button svg {
  margin-right: 1rem;
}

.download-button:hover {
  background-color: var(--clr-dark-red);
  transform: scale(1.05,1.03);
}

.item-info {
  font-size: 12px;
  line-height: 4;
}

.image-gallery {
  border: 2px solid green;
}

.image-gallery:hover .slide-image__prev,
.image-gallery:hover .slide-image__next {
  opacity: 1;
}

.slide-image-wrapper {
  border: 2px solid lightgreen;
  position: relative;
}

.slide-image__prev,
.slide-image__next {
  border: 2px solid red;
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 10;
  opacity: 0;
  transition: opacity 150ms linear;
}

.slide-image__prev {
  left: 1rem;
}

.slide-image__next {
  right: 1rem;
}

.slide-image__prev button,
.slide-image__next button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.slide-image__prev button i,
.slide-image__next button i {
  color: white;
  font-size: 2.5rem;
  transition: transform 120ms linear;
}

.slide-image__prev button:hover i,
.slide-image__next button:hover i {
  transform: scale(1.2, 1.2);
}

.slide-image-container {
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  display: flex;
  /* overflow: hidden; */
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory; 
  gap: 0;
  padding: 0;
  cursor: zoom-in;
}

.slide-image-container img {
  flex: 0 0 100%;   
  width: 100%;
  /* height: 100%;   */
  object-fit: cover;
  display: block;
  scroll-snap-align: start;
}

.slide-options {
  display: flex;
  margin: 12px 0;
   /* overflow: hidden; */
  overflow-x: auto;
}

.slide-options > div {
  flex: 0 0 calc((100% - (8px * 5)) / 7); 
  margin-inline: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.slide-options > div:first-child {
  margin-left: 0;
}

.slide-options > div:last-child {
  margin-right: 0;
}

.slide-options img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}