*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #e60012;
  --clr-dark-red: #ac000d;
  --clr-light-blue: #d6f0fa;
  --clr-blue: #4b5cce;
  --clr-dark-blue: #0b2b6b;
  --clr-dark-gray: #434242;
  --clr-gray: #484848;
  --clr-medium-gray: #727272;
  --clr-light-gray: #efefef; 
  --clr-border: #dadada;
  --trsn--color: color 150ms linear;
}

body {
  color: var(--clr-dark-gray);
  font-family: "Geologica", sans-serif;
}

.slide-in-top-panel-div {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--clr-light-gray);
 /*  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1); */

  transform: translateY(-100%); 
  transition: all 300ms ease-out;
}

.slide-in-top-panel-div.top-slide {
  transform: translateY(0); 
}

.slide-in-top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 71rem;
  height: 74px;
  margin-inline: auto;
}

.slide-in-top-panel div:first-child {
  font-size: 1.15rem;
  font-weight: 600;
}

.slide-in-top-panel-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slide-in-top-panel-info span:first-child {
  font-size: 12px;
  font-weight: 600;
}

.slide-in-top-panel-info span:nth-child(2) {
  font-weight: 600;
}

.slide-in-top-panel-info button {
  color: white;
  background-color: var(--clr-red);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14rem;
  height: 2.5rem;
  padding-inline: 1rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.slide-in-top-panel-info svg {
  width: 14px;
  margin-right: 10px;
}

.slide-in-top-panel-info button:hover {
  background-color: var(--clr-dark-red);
  transform: scale(1.05,1.03);
}

/* HEADER */
.header-div,
.header-div>div,
.header-buttons,
.search button,
.log-in-button,
.shipping-info {
  display: flex;
  align-items: center;
}

.header-div {
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}

.logo {
  display: flex;
  justify-content: center;
  height: 59px;
  width: 132px;
  background-color: var(--clr-red);
  color: white;
  cursor: pointer;
}
.my-nintendo-store-link {
  display: none;
  color: white;
}

.header-buttons {
  gap: 1.7rem;
  margin-left: 2rem;
}

.header-buttons svg {
  color: var(--clr-red);
}

.header-buttons svg,
.search button svg,
.log-in-button svg {
  width: 16px;
  margin-right: 6px;
}

.header-buttons button,
.search button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-dark-gray);
  border: none;
  background-color: transparent;
  cursor: pointer;
}  

.header-buttons button {
  padding: 16px 0;
}

.search button {
  padding: 16px 12px;
}

.header-buttons button:hover,
.search button:hover,
.search button:hover svg,
.wish-list:hover,
.cart:hover {
  color: var(--clr-red);
}

.selected {
  color: var(--clr-red) !important;
  position: relative;
}

.selected::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  height: 3px;
  background-color: var(--clr-red);
}

/* MENU DROPDOWN CONTENT */
.dropdown-content {
  position: absolute;
  top: 3.75rem;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  max-height: 0;
  overflow: hidden;   
  opacity: 0;
  transition: max-height 250ms linear, opacity 150ms ease;
  will-change: max-height, opacity;
}

.dropdown-content.open-drop {
  opacity: 1;
}

.dropdown {
  display: none;
}

.gaming-systems {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0; 
  padding-bottom: 1.5rem;
  min-height: 145px;
  border-bottom: 1px solid var(--clr-border);
}

.gaming-systems a,
.explore-buttons a,
.explore-characters a,
.shop-categories a,
.support-categories a {
  text-decoration: none;
  color: var(--clr-dark-gray);
}

.gaming-systems a {
  width: 300px;
  font-size: 21px;
  font-weight: 600;
  transition: var(--trsn--color);
}

.gaming-systems a:hover {
  color: var(--clr-red);
}

.gaming-systems span {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.gaming-systems img {
  height: 100px;
  display: block;
  margin-inline: auto;
}

.explore-buttons {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--clr-border);
}

.explore-buttons svg {
  color: var(--clr-red);
  width: 1.5rem;
  margin-right: 10px;
}

.explore-buttons a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid var(--clr-border);
  border-radius: 2rem;
  padding: 2px 32px;
  line-height: 2.2;
  transition: var(--trsn--color);
}

.explore-buttons a:hover,
.explore-characters a:hover,
.shop-categories a:hover,
.support-categories a:hover  {
  color: var(--clr-red);
}

.explore-characters,
.explore-characters div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.explore-characters>div {
  font-weight: 600;
  margin: 1rem 0;
}

.explore-characters a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: var(--trsn--color);
}

.explore-characters img {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.close-dropdown-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  border: none;
  cursor: pointer;
  color: rgb(200, 200, 200);
  transition: var(--trsn--color);
}

.close-dropdown-button:hover {
  color: var(--clr-gray);
}

.shop-dropdown>div,
.support-dropdown>div {
  display: flex;
  align-items: center;
}

.my-nintendo-store,
.support-home {
  background-color: var(--clr-red);
  color: white;
  padding: 1.5rem;
  margin: 1.5rem;
  min-width: 300px;
  flex-basis: max-content;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 150ms linear;
}

.my-nintendo-store:hover,
.support-home:hover {
  background-color: var(--clr-dark-red);
}

.my-nintendo-store h2 {
  display: flex;
  align-items: center;
}

.my-nintendo-store h2,
.support-home h2 {
  font-size: 2rem;
  font-weight: 600;
}

.my-nintendo-store h2 svg {
  margin-right: 10px;
}

.my-nintendo-store div p {
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  line-height: 2;
}

.shop-categories,
.support-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 1.5rem;
  margin-right: 1.5rem;
  gap: 1rem;
}

.shop-categories a,
.support-categories a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  height: 60px;
  padding: 4px 12px;
  border: 1px solid var(--clr-border);
  border-radius: 2rem;
  transition: var(--trsn--color);
}

.shop-categories svg,
.support-categories svg {
  color: var(--clr-red);
  width: 2rem;
  margin-right: 10px;
}

.modal-overlay {
  position: fixed;
  top: 3.75rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 150ms linear, visibility 150ms linear;
  visibility: hidden;
  opacity: 0;
  z-index: 70;
} 

.modal-overlay.open-modal {
  visibility: visible;
  opacity: 1;
}

/************************************/

.header-div>div:nth-child(2) {
  gap: 1rem;
  padding-inline: 20px;
}

.search button svg {
  color: var(--clr-dark-gray);
}

.dropdown-content-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  max-height: 0;
  overflow: hidden;   
  opacity: 0;
  transition: max-height 250ms linear, opacity 150ms ease;
  will-change: max-height, opacity;
}

.dropdown-content-search.open-drop {
  opacity: 1;
}

.dropdown-content-search-div {
  display: none;
}

.search-top-div {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input-div {
  margin-left: 1rem;
  border-bottom: 1px solid var(--clr-red);
  position: relative;
  width: 450px;
}

.search-input-div svg {
  position: absolute;
  color: var(--clr-red);
  top: 50%;
  transform: translateY(-50%);
}

.search-input-div input {
  font-family: "Geologica", sans-serif;
  font-size: 0.9;
  padding: 0.4rem 1.7rem;
  width: 100%;
  border: none;
}

.search-input-div input::placeholder {
  font-weight: 450;
  font-size: 0.85rem;
}

.search-input-div input:focus {
  outline: none;
}

.search-topics-products {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2.5rem;
  padding: 0.75rem 7.5rem 2.5rem;
}

.trending-topics-div h2,
.top-store-products h2 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.trending-topics-div li {
  list-style: none;
}

.trending-topics-div li a {
  text-decoration: none;
  color: var(--clr-red);
  line-height: 1.9;
  font-weight: 600;
  transition: var(--trsn--color);
}

.trending-topics-div li a:hover {
  color: var(--clr-dark-red);
}

.top-products {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 343px));
  gap: 1.5rem
}

.top-product-div {
  display: flex;
  align-items: center;
  column-gap: 12px;
  border: 1px solid var(--clr-border);
  border-radius: 12px;
  padding: 8px 1rem 8px 8px;
  cursor: pointer;
}

.top-product-div:hover h2 {
  color: var(--clr-red);
}

.top-product-div:hover img {
  opacity: 0.7;
}

.top-product-img-div {
  max-width: 94px;
  border-radius: 12px;
  overflow: hidden;
  background-color: black;
}

.switch-2 {
  background-color: var(--clr-red);
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-2 svg {
  color: white;
  width: 30px;
}

.top-product-img-div img {
  width: 100%;
  display: block;
  transition: opacity 150ms linear;
}

.top-product-info-div {
  width: 100%;
}

.top-product-info-div h2 {
  font-size: 0.9rem;
  font-weight: 550;
  transition: var(--trsn--color);
}

.top-product-category-div,
.top-product-category-div div {
  display: flex;
  align-items: center;
}

.top-product-category-div {
  margin-top: 1rem;
  justify-content: space-between;
}

.top-product-category-div div {
  font-size: 0.8rem;
  font-weight: 300;
}

.top-product-category-div div svg {
  width: 1rem; 
  margin-right: 3px;
}

.top-product-category-div button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.top-product-category-div button:hover i{
  color: var(--clr-dark-red);
}

.top-product-category-div button i {
  color: var(--clr-red);
  font-size: 1.1rem;
  transform: scale(0.95, 1);
}

.modal-overlay-search,
.modal-overlay-side-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 150ms linear, visibility 150ms linear;
  visibility: hidden;
  opacity: 0;
  z-index: 70;
}

.modal-overlay-search.open-modal,
.modal-overlay-side-panel.open-modal {
  visibility: visible;
  opacity: 1;
}

.wish-list,
.cart {
  color: var(--clr-dark-gray);
  padding: 8px 12px;
  display: flex;
  justify-content: center;
}

.log-in-button {
  color: var(--clr-red);
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid var(--clr-red);
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.log-in-side-content-div {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  background-color: var(--clr-light-gray);
  padding: 0 20px;
  transform: translate(100%); 
  transition: all 200ms ease;
  z-index: 100;
}

.log-in-side-content-div.slide-in {
  transform: translate(0); 
}

.log-in-side-content-div h2 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 3;
  margin-bottom: 0.7rem;
}

.log-in-side-info {
  background-color: white;
  border-radius: 12px;
  padding: 1rem 1.75rem 0.5rem;
}

.log-in-side-info img {
  width: 100%;
}

.log-in-side-info h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 12px 0.4rem;
}

.log-in-side-info div {
  font-size: 0.86rem;
  font-weight: 600;
  line-height: 1.6;
  margin: 0 12px;
  display: flex;
}

.log-in-side-info div svg {
  margin-right: 8px;
}

.log-in-side-buttons {
  margin: 1rem 0;
}

.log-in-side-buttons button {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--clr-red);
  transition: all 200ms linear;
  cursor: pointer;
}

.log-in-side-buttons button:first-child {
  background-color: var(--clr-red);
  color: white;
  margin-bottom: 6px;
}

.log-in-side-buttons button:first-child:hover {
  background-color: var(--clr-dark-red);
}

.log-in-side-buttons button:last-child {
  background-color: white;
  color: var(--clr-red);
}

.log-in-side-buttons button:last-child:hover {
  background-color: rgb(253, 230, 231);
  color: var(--clr-dark-red);
}

.order-status,
.log-in-lower-links div {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 48px;
  background-color: white;
  border: 1px solid var(--clr-border);
  font-weight: 600;
  transition: var(--trsn--color);
  cursor: pointer;
}

.order-status {
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.log-in-lower-links div {
  justify-content: space-between;
}

.log-in-lower-links div:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.log-in-lower-links div:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.log-in-lower-links div:not(:last-child) {
  margin-bottom: -1px;
}

.log-in-lower-links span {
  display: flex;
  align-items: center;
}

.order-status:hover,
.log-in-lower-links div:hover {
  color: var(--clr-red);
}

.order-status svg,
.log-in-lower-links span svg {
  color: var(--clr-red);
  margin-right: 8px;
}


/* MAIN */

main {
  margin-bottom: 4rem;
}

.shipping-info {
  justify-content: center;
  padding: 0.7rem 0;
}

.shipping-info span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shipping-info span:first-child {
  padding-right: 1rem;
  border-right: 1px solid var(--clr-dark-gray);
}

.shipping-info span:last-child {
  padding-left: 1rem;
}

.shipping-info svg {
  color: var(--clr-red);
  margin-right: 10px;
}

.shipping-info a {
  color: var(--clr-dark-gray);
  font-weight: 600;
}

.shipping-info a:hover {
  color: var(--clr-dark-red);
} 

.main-game-section {
  background-color: var(--clr-light-blue);
  height: 670px;
}

.game-div {
  background-color: white;
  padding: 2rem 3rem;
  max-width: 1240px;
  margin-inline: auto;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 4px 16px 0 rgba(60, 64, 89, 0.15);
}

.breadcrumb-list {
  font-size: 12px;
  font-weight: 700;
}

.breadcrumb-list ol {
 list-style-type: none;
 display: flex;
}

.breadcrumb-list ol li {
  display: flex;
  align-items: center;
}

.breadcrumb-list a {
 text-decoration: none;
 color: var(--clr-medium-gray);
}

.breadcrumb-list a:last-child {
  color: var(--clr-gray);
}

.breadcrumb-list i {
  color: rgb(114, 114, 114, 0.4);
  font-size: 13px;
  margin-inline: 9px;
}

.slides-with-info-div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  margin-top: 1rem;
}

.esrb-ratings,
.compatibility-info-div {
  display: flex;
  align-items: center;
  column-gap: 12px;
  text-decoration: none;
  color: var(--clr-gray);
  font-size: 12px;
  font-weight: 300;
  margin-top: 1rem;
}

.esrb-ratings-info {
  min-width: 120px;
  max-width: 352px;
}

.esrb-ratings-info div:first-child {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--clr-gray);
}

.esrb-ratings-info div:last-child {
  padding-top: 3px;
}

.compatibility-info-div {
  padding: 1rem;
}

.compatibility-info div {
  line-height: 1.5;
}

.compatibility-info div:first-child {
  font-weight: 600;
}

.compatibility-checkmark {
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #0067d6;
}

.compatibility-checkmark svg {
  color: white;
}

.game-info {
  color: var(--clr-gray);
}

.game-info h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.version-div,
.edition-div {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  line-height: 3.3;
}

.version-div span,
.edition-div span {
  font-weight: 600;
}

.price-like-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1.5rem;
}

.price-like-div div {
  font-size: 1.7rem;
  font-weight: 600;
}

.wishlist-button {
  border: none;
  background: transparent;
  padding: 3px 4px;
  cursor: pointer;
}

.wishlist-button i {
  color: var(--clr-red);
  font-size: 1.7rem;
  transform: scale(0.95, 1);
}

.wishlist-button:hover i {
  color: var(--clr-dark-red);
}

.download-button {
  color: white;
  background-color: var(--clr-red);
  border: none;
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.download-button svg {
  margin-right: 1rem;
}

.download-button:hover {
  background-color: var(--clr-dark-red);
  transform: scale(1.05,1.03);
}

.item-info {
  font-size: 12px;
  margin-top: 1rem;
}

.image-gallery:hover .slide-image__prev,
.image-gallery:hover .slide-image__next,
.image-gallery-modal:hover .slide-image__prev-mod,
.image-gallery-modal:hover .slide-image__next-mod {
  opacity: 1;
}

.slide-image-wrapper,
.slide-options-wrapper {
  position: relative;
}

.slide-options-wrapper {
  margin: 12px 0;
}

.slide-image__prev,
.slide-image__next,
.slide-image__prev-mod,
.slide-image__next-mod {
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 10;
  opacity: 0;
  transition: opacity 150ms linear;
}

.slide-image__prev,
.slide-image__prev-mod {
  left: 1rem;
}

.slide-image__next,
.slide-image__next-mod {
  right: 1rem;
}

.slide-image__prev button,
.slide-image__next button,
.slide-image__prev-mod button,
.slide-image__next-mod button{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer; 
}

.slide-image__prev button i,
.slide-image__next button i,
.slide-image__prev-mod button i,
.slide-image__next-mod button i {
  color: white;
  font-size: 2.5rem;
  transition: transform 120ms linear;
}

.slide-image__prev button:hover i,
.slide-image__next button:hover i,
.slide-image__prev-mod button:hover i,
.slide-image__next-mod button:hover i {
  transform: scale(1.2, 1.2);
}

.slide-image-container {
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  gap: 0;
  padding: 0;
  cursor: zoom-in;
}

.slide-image-container span {
  flex: 0 0 100%; 
  transition: all 500ms ease-in-out;
}

.slide-image-container span:nth-child(2){
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  color: var(--clr-medium-gray);
  background-color: white;
  z-index: 20;
}

.play-button i {
  font-size: 6.1rem;
  border-radius: 50%;
  border: 4px solid white;
}

.slide-image-container img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.slide-options__cont,
.slide-options__cont-modal {
  display: flex;
  gap: 1rem;
  transition: all 200ms ease-in-out;
}

.slide-options__cont > div {
  flex: 0 0 calc((100% - (6px * 5)) / 7); 
}

.slide-options__cont > div,
.slide-options__cont-modal > div {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 200ms linear;
}

.slide-options__cont-modal > div {
  flex: 0 0 calc(100% / 7); 
  border: 1px solid rgb(255, 255, 255, 0.8);
}

.slide-options__cont-modal div:hover {
  border: 1px solid white;
}

.slide-options__cont > div:first-child,
.slide-options__cont-modal > div:first-child {
  margin-left: 0;
}

.slide-options__cont > div:last-child,
.slide-options__cont-modal > div:first-child{
  margin-right: 0;
}

.slide-options__cont > div:nth-child(2),
.slide-options__cont-modal > div:nth-child(2) {
  position: relative;
}

.play-button-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  color: var(--clr-medium-gray);
  background-color: white;
  z-index: 20;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.play-button-small i {
  font-size: 2.1rem;
  border-radius: 50%;
  border: 2px solid white;
}

.slide-options__cont div:nth-child(2):hover .play-button-small,
.slide-options__cont-modal div:nth-child(2):hover .play-button-small {
  color: var(--clr-gray);
}

.slide-options__cont img,
.slide-options__cont-modal img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.slide-options__cont img:hover,
.slide-options__cont-modal img:hover {
  opacity: 1;
}

.slide-options,
.slide-options-modal  {
  overflow: hidden;
}

.slide-options__cont div:hover::after,
.slide-options__cont-modal div:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--clr-dark-red);
  z-index: 10;
}

/* .slide-options__cont */div.active img {
  opacity: 1;
}

/* .slide-options__cont */div.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--clr-red);
  z-index: 10;
}

.slide-options__next,
.slide-options__prev,
.slide-options__next-mod,
.slide-options__prev-mod {
  position: absolute;
  top: 0;
  height: 100%;
  width: 55px;
  z-index: 5;
}

.slide-options__next:hover button,
.slide-options__prev:hover button,
.slide-options__next-mod:hover button,
.slide-options__prev-mod:hover button {
  background-color: rgba(0, 0, 0, 0.6);
}

.slide-options__next:hover i,
.slide-options__prev:hover i,
.slide-options__next-mod:hover i,
.slide-options__prev-mod:hover i {
  transform: scale(1.2, 1.2);
}

.slide-options__prev,
.slide-options__prev-mod {
  left: 0;
}

.slide-options__next,
.slide-options__next-mod {
  right: 0;
}

.slide-options__prev button,
.slide-options__next button,
.slide-options__prev-mod button,
.slide-options__next-mod button {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 150ms linear; 
}

.slide-options__prev button i,
.slide-options__next button i,
.slide-options__prev-mod button i,
.slide-options__next-mod button i {
  color: var(--clr-border);
  font-size: 1.8rem;
  transition: all 150ms linear;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(1rem);
}

.modal.open {
  display: block;
}

body.modal-open {
  overflow: hidden;
}

.modal-container { 
  aspect-ratio: 16/10.5;
  width: min(80vw, calc(16 / 10.5 * 80vh)); 
  max-height: 80vh;
  height: auto;

  position: relative;
  opacity: 0; 
  visibility: hidden;
  transition: all 350ms ease-in-out; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container.modal-open {
  opacity: 1;
  visibility: visible;
}

.image-gallery-modal {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.slide-image-container-modal {
  aspect-ratio: auto;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  gap: 0;
  padding: 0;
}

.slide-image-container-modal span {
  flex: 0 0 100%; 
  transition: all 500ms ease-in-out;
}

.slide-image-container-modal span:nth-child(2){
  position: relative;
}

.slide-image-container-modal img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.play-button-modal {
  transition: all 150ms ease-in;
  cursor: pointer;
}

.play-button-modal:hover {
  color: var(--clr-gray);
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close-button {
  cursor: pointer;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 200ms linear;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 150;
}

.modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
} 

.modal-close-button svg {
  height: 24px;
  width: 24px;
  color: white;
}

.slide-options-wrapper-modal {
  margin-bottom: 0;
}

.main-game-description {
  margin-top: 4rem;
  padding: 3rem 0;
}

.main-game-description>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
  max-width: 71rem;
  margin-inline: auto;
}

.main-game-description h3 {
  font-size: 21px;
  font-weight: 600;
}

.main-game-description p {
  font-weight: 300;
  line-height: 1.4;
  color: var(--clr-gray);
  margin-top: 1rem;
}

.main-game-description-img-cont img {
  max-height: 24em;
  width: 100%;
  border-radius: 12px;
}
.ellipsis {
  margin: 0.2rem 0 0.5rem!important;
}

.read-more-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-red);
  border: none;
  background-color: transparent;
  padding: 11px 11px 11px 0;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: var(--trsn--color);
}

.read-more-button:hover {
  color: var(--clr-dark-red);
}

.read-more-button .less.svg,
.read-more-button .more.svg {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.read-more-button svg {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.hidden-text {
  display: none;
}

.less {
  display: none;
}

.show-text .hidden-text {
  display: block;
}

.show-text .ellipsis {
  display: none;
}

.show-text .more.svg {
  display: none;
}
.show-text .more {
  display: none;
}

.show-text .less.svg {
  display: block;
}
.show-text .less {
  display: block;
}

.description-author,
.play-modes-text,
.play-online {
  font-size: 12px;
  font-weight: 300;
  color: var(--clr-gray);
}

.explore-game-button {
  color: white;
  background-color: var(--clr-red);
  border: none;
  padding: 0 1.5rem;
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.explore-game-button:hover {
  background-color: var(--clr-dark-red);
  transform: scale(1.05,1.03);
}

.main-game-about {
  max-width: 71rem;
  margin-inline: auto;
  padding-bottom: 3rem;
  color: var(--clr-gray);
}

.related-tags-div {
  margin: 40px 0;
}

.related-tags-div h2,
.about-this-item-div h2,
.more-like-this h2 {
  font-weight: 600;
  font-size: 28px;
}

.related-tags-div div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: 1.5rem;
}
.related-tags-div a {
  text-decoration: none;
  color: var(--clr-gray);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: var(--clr-light-gray);
  transition: var(--trsn--color);
  white-space: nowrap;
}

.related-tags-div a:hover {
  color: var(--clr-red);
}

.about-this-item-div h2 {
  padding: 1rem;
}

.about-item-list > div {
  display: grid;
  grid-template-columns: 28px 1fr 2fr;
  column-gap: 20px;
  align-items: center;
  padding: 1.5rem 1rem;
}

.about-item-list > div:nth-child(odd) {
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
}

.play-modes-div {
  display: flex;
  column-gap: 1rem;
}

.play-modes-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-modes-text {
  margin-top: 1rem;
}

.nint-switch,
.supported,
.supported-languages,
.release-date {
  font-weight: 300;
}
.nint-switch span:first-child {
  margin-right: 0.8rem;
}

.about-this-item-div a:not(.esrb-link) {
  color: var(--clr-red);
  font-weight: 600;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  transition: var(--trsn--color);
}

.about-this-item-div a:hover:not(.esrb-link) {
  color: var(--clr-dark-red);
}

.online-play {
  display: flex;
  gap: 1rem;
}

.play-online {
  padding-top: 1rem;
}

.learn-more {
  font-size: 12px;
  text-underline-offset: 4px !important;
}

.number-of-players-div {
  margin-top: 5rem;
}

.number-of-players-div span {
  font-weight: 600;
}

.number-of-players-div div {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.more-like-this {
  max-width: 71rem;
  margin-inline: auto;
  padding: 3rem 0 1rem;
  color: var(--clr-gray);
}

.similar-games-slider-wrapper {
  margin-top: 1rem;
  position: relative;
}

.similar-games__prev,
.similar-games__next {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1rem 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  transition: all 200ms linear;
}

.similar-games__prev {
  left: 0;
  top: 0;
}

.similar-games__next {
  right: 0;
  top: 0;
}

.similar-games__prev:hover,
.similar-games__next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.similar-games__prev:hover button,
.similar-games__next:hover button {
  color: white;
  transform: scale(1.15,1.15);
}

.similar-games__prev button,
.similar-games__next button {
  background-color: transparent;
  border: none;
  color: var(--clr-border);
  transition: var(--trsn--color), transform 200ms linear;
  cursor: pointer;
}

.similar-games__prev button i,
.similar-games__next button i {
  font-size: 3.2rem;
}

.similar-games {
  overflow: hidden;
}

.similar-games-cont {
  display: flex;
  transition: transform 300ms ease;
}

.similar-games-cont>div {
  max-width: 16.375rem;
  flex: 0 0 16.375rem; 
  width: 100%;
  margin: 1.5rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--clr-border);
  overflow: hidden;
  cursor: pointer;
}

.similar-games-img-cont {
  overflow: hidden;
}

.similar-games-img-cont img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1/1;
  transition: transform 200ms linear;
}

.similar-games-cont>div:hover .similar-games-img-cont img {
  transform: scale(1.06,1.06);
}

.similar-games-cont>div:hover .similar-games-info-cont h4 {
  color: var(--clr-red);
}

.similar-games-info-cont {
  padding: 1rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.similar-games-info-cont h4 {
  transition: var(--trsn--color);
}

.similar-games-info-cont .release {
  font-size: 12px;
  font-weight: 300;
  color: var(--clr-medium-gray);
}

.similar-games-info-cont .free-demo {
  display: block;
  margin-bottom: 8px;
  background-color: var(--clr-blue);
  width: fit-content;
  padding-inline: 8px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  font-weight: 600;
  line-height: 19px;
}

.similar-games-info-cont .price {
  font-weight: 600;
}

.similar-games-info-cont svg {
  width: 15px;
  height: 15px;
}

.games-and-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.games-and-like span {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.games-and-like span svg {
  margin-right: 4px;
}

.games-and-like button {
  border: none;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.games-and-like button i {
  font-size: 1.5rem;
  transition: var(--trsn--color);
}

.games-and-like button:hover i {
  color: var(--clr-dark-red);
}

.warning-section {
  max-width: 71rem;
  margin-inline: auto;
  padding: 3rem 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--clr-gray);
}

.warning-section p {
  margin: 0.7rem 0;
}

.footer-logo-div {
  background-color: var(--clr-red);
  text-align: center;
}

.footer-logo-div svg {
  height: 130px;
  width: 260px;
  background-color: var(--clr-red);
  color: white;
  cursor: pointer;
}

.footer-nav-section {
  padding: 2rem 1rem;
}

.footer-nav-section>div {
  max-width: 1440px;
  margin-inline: auto;
}

.footer-nav-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1rem 0 2rem -1rem;
  column-gap: 1rem;
  row-gap: 2rem;
}

.footer-nav-div div {
  padding-left: 1.5rem;
}

.footer-nav-div div:not(:first-child) {
  border-left: 1px solid var(--clr-border);
} 

.footer-nav-div .span-2 {
  grid-row: span 2;
}

.footer-nav-div h2 {
  font-size: 18px;
  color: var(--clr-gray);
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-decoration: 2px underline transparent;
  text-underline-offset: 5px;
  cursor: pointer;
  transition: all 200ms linear;
}

.footer-nav-div h2:hover {
  text-decoration: 2px underline var(--clr-dark-red);
  text-underline-offset: 5px;
}

.footer-nav-div li {
  list-style: none;
  margin-bottom: 9px;
  text-decoration: 2px underline transparent;
  text-underline-offset: 5px;
  transition: all 200ms linear;
}

.footer-nav-div li:hover {
  text-decoration: 2px underline var(--clr-dark-red);
  text-underline-offset: 5px;
}

.footer-nav-div li:hover a {
  color: var(--clr-dark-red);
}

.footer-nav-div li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-red);
  transition: var(--trsn--color);
}

.footer-socials-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.social-media-links {
  display: flex;
  gap: 40px;
}

.social-media-links a {
  text-decoration: none;
  color: var(--clr-gray);
}

.footer-ESRB svg {
  max-width: 64px;
  width: 100%;
}

path.cls-3 {
  fill: #085ea9;
}

.copyright-section {
  background-color: #242424;
  padding: 2rem 1rem;
}

.copyright-section>div {
  font-size: 12px;
  color: white;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  gap: 2rem;
  max-width: 85rem;
}

.copyright-nav-location-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.copyright-nav-location-div a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.copyright-nav-location-div a:hover {
  text-decoration: 1px underline;
  text-underline-offset: 5px;
}

.copyright-nav-location-div div:first-child {
  display: flex;
  gap: 1rem;
}

.copyright-nav-location-div div:last-child a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration: 2px underline transparent;
  text-underline-offset: 5px;
  transition: all 200ms linear;
}

.copyright-nav-location-div div:last-child a:hover {
  text-decoration: 2px underline white;
  text-underline-offset: 5px;
}

.copyright-nav-location-div div:last-child img {
  display: block;
}

.copyright-nav-location-div div:last-child span {
  border: 1px solid white;
  border-radius: 4px;
}


.modal-overlay-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 150ms linear, visibility 150ms linear;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
} 

/* .modal-overlay-fixed.open-modal {
  visibility: visible;
  opacity: 1;
} */

.fixed-navigation-block-wrapper {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 60;
  /* background-color: #085ea9; */
  width: 100%;
  height: 74px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  border: 2px solid red;
}

.fixed-navigation-block-container {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 100px;
  /* padding-inline: 1rem; */
  margin-inline: auto;
  height: 58px;
  max-width: 440px;
  width: 96%;
  /* z-index: 60; */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  
  /* border: 1px solid red; */
}

.fixed-navigation-buttons-div {
  display: flex;
  height: 100%;
  padding-inline: 1rem;
  /* border-bottom-left-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem; */
  border-radius: 1.7rem;
  background-color: white;
  /* border: 1px solid red; */
}
.fixed-navigation-buttons-div button:not(.magnifying-glass-button) {
  flex: auto;
  border: none;
  background-color: transparent;
}
.fixed-navigation-buttons-div button,
.fixed-navigation-buttons-div a {
  color: var(--clr-gray);
  transition: var(--trsn--color);
  cursor: pointer;
}
.fixed-navigation-buttons-div button:not(.magnifying-glass-button):hover,
.fixed-navigation-buttons-div button:hover a {
  color: var(--clr-red);
}
/* .hamburger-menu-button {
  display: flex;
  align-items: center;
} */
.hamburger-menu-button i {
  font-size: 1.5rem;
}
.hamburger-menu-button .close-icon {
  display: none;
}
.hamburger-menu-button.is-open .hamburger-icon {
  display: none;
}

.hamburger-menu-button.is-open .close-icon {
  display: block;
}

.magnifying-glass-button {
  background-color: var(--clr-red);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -0.5rem;
}
.magnifying-glass-button svg {
  color: white;
}
.slide-in-top-panel-fixed {
  position: absolute;
  left: 0;
  bottom: 29px;
  height: 110px;
  width: 100%;
  padding: 1rem 1rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* border-radius: 1rem; */
  background-color: var(--clr-light-gray);

  transform: translateY(100%); 
  opacity: 0;
  transition: all 250ms ease-out;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: -1;
}
.slide-in-top-panel-fixed.top-slide {
  transform: translateY(0); 
  opacity: 1;
}

.slide-in-top-panel-fixed div {
  display: flex;
  flex-direction: column;
}
.digital-fixed {
  font-size: 12px;
}
.digital-fixed,
.price-fixed {
  font-weight: 600;
  color: var(--clr-gray);
}
.price-fixed { 
  margin-top: 5px;
}

.slide-in-top-panel-fixed button {
  color: white;
  background-color: var(--clr-red);
  border: none;
  min-width: 225px;
  width: 225px;
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3rem;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.slide-in-top-panel-fixed button:hover {
  background-color: var(--clr-dark-red);
  transform: scale(1.05,1.03);
}
.slide-in-top-panel-fixed button svg {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
/* calc(100svh - 6.5rem) */

.slide-in-nav-fixed {
  /* display: none; */
  position: absolute;
  left: 0;
  bottom: 2rem;
  z-index: -1;
  height: 0;
  /* height: calc(100svh - 6.5rem); */
  /* overflow-x: scroll; */
  overflow-y: hidden;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: lightblue;

  /* transform: translateY(100%);  */
  opacity: 0;
  /* transition: transform 250ms ease-out, opacity 200ms ease-out; */
  transition: height 250ms 100ms ease-out, opacity 300ms 100ms ease-out;
}

.slide-in-nav-fixed.is-open {
  height: calc(100svh - 6.5rem);
  /* transform: translateY(0);  */
  opacity: 1;
}

.slide-in-nav-fixed>div:first-child {
  background-color: var(--clr-red);
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slide-in-nav-fixed>div:first-child a {
  color: white;
}
.slide-in-nav-fixed>div:first-child a svg {
  display: block;
}
.slide-in-nav-fixed .close-fixed-button {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.slide-in-nav-fixed .close-fixed-button i {
  color: white;
  font-size: 1.5rem;
}
.slide-in-nav-fixed__options-container {
  height: calc(100svh - 6.5rem);
  overflow-x: scroll;
}
.nav-fixed__tabs {
  margin-top: 8px;
  display: flex;
}
.nav-fixed__tabs button {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--clr-border);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  height: 74px;
  padding: 1px 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.nav-fixed__tab-button.active {
  border-bottom: none;
  border-left: 1px solid var(--clr-border);
  border-top: 1px solid var(--clr-border);
  border-right: 1px solid var(--clr-border);
  color: var(--clr-red);
}

.nav-fixed__tabs button svg {
  color: var(--clr-red);
}
.fixed__options-container-content {
  display: none; /* **************** */
  padding: 1.5rem 1rem 8rem;
}

.fixed__options-container-content.active {
  display: block;
}

.fixed__options-container-content .title-2-fixed {
  margin: 30px 0 1rem;
}
.explore-options-fixed {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.explore-options-fixed a {
  padding: 1rem 1.5rem;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  text-decoration: none;
  color: var(--clr-gray);
  font-weight: 600;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  transition: var(--trsn--color);

  display: flex;
  align-items: center;
}

.explore-options-fixed a:hover:not(a:first-child ) {
  color: var(--clr-red);
}

.explore-options-fixed a:first-child {
  background-color: var(--clr-red);
  color: white;
}
.explore-options-fixed svg {
  margin-right: 1rem;
  width: 24px;
  color: var(--clr-red);
}
.explore-options-fixed a:first-child svg {
  color: white;
}
.meet-the-characters-fixed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
.meet-the-characters-fixed a {
  padding: 1rem 0.5rem;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  text-decoration: none;
  color: var(--clr-gray);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  font-size: 14px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-the-characters-fixed a img {
  height: 32px;
  width: 32px;
  margin-right: 7px;
}

@media screen and (max-width: 1440px) {
  .search-topics-products {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
  }
  .trending-topics-div {
    margin-top: 1rem;
  }
  .top-store-products {
    margin-top: 1.5rem
  }
  .shop-categories a,
  .support-categories a {
    font-size: 1rem;
  }
  .footer-nav-div {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0;
  }
  .footer-nav-div div:first-child {
    border-left: 1px solid var(--clr-border);
  } 
}

@media screen and (max-width: 1240px) { 
  .main-game-section {
    height: auto;
  }
  .game-div {
    border-radius: 0;
    margin-top: 0;
  }
  .shop-categories,
  .support-categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .shop-categories svg,
  .support-categories svg {
    width: 1.5rem;
  }
}

@media screen and (max-width: 1180px) {
  .slide-in-top-panel,
  .main-game-description,
  .main-game-about,
  .more-like-this,
  .warning-section {
    padding-inline: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .explore-characters {
    display: block;
    padding-left: 1.5rem;
  }
  .explore-characters div:last-child {
    justify-content: left;
  }
}

@media screen and (max-width: 1024px) {
  .header-div {
    background-color: var(--clr-red);
  }
  .logo {
    height: 46px;
  }
  .logo svg {
    width: 89px;
  }
  .header-buttons,
  .search,
  .wish-list,
  .cart,
  .log-in-button {
    display: none;
  }
  .region {
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
  }
  .my-nintendo-store-link {
    display: flex;
  }
  .shipping-info span:first-child {
    border: none;
  }
  .shipping-info span:last-child {
    display: none;
  }
  .version-div,
  .edition-div {
    font-size: 12px;
    line-height: 3.6;
  }
  .related-tags-div div {
    gap: 8px;
    padding: 0;
  }
  .related-tags-div a {
    font-size: 14px;
    padding: 4px 8px;
  }
  .footer-nav-div {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-socials-section {
    flex-direction: column;
    gap: 3rem;
  } 
  .copyright-section {
    padding-bottom: 10.5rem;
  }
  .copyright-section>div {
    flex-direction: column;
  }
  .copyright-text {
    max-width: 450px;
    text-align: center;
    font-size: 10px;
  }
  .copyright-nav-location-div a {
    font-size: 10px;
  }
  .copyright-nav-location-div div:last-child,
  .slide-in-top-panel-div {
    display: none;
  }

  .modal-overlay-fixed.open-modal {
    visibility: visible;
    opacity: 1;
  }

  .fixed-navigation-block-wrapper {
    display: block;
  }
  .search-top-div .logo {
    display: none;
  }
  .search-input-div {
    width: 90%;
    margin-top: 1rem;
  }
  .search-input-div input {
    font-size: 1rem;
    /* padding: 0.4rem 1.7rem; */
  }
  .search-input-div input::placeholder {
    font-size: 1rem;
  }
  .search-topics-products {
    padding: 0.75rem 2rem 2.5rem;
  }
  .trending-topics-div h2,
  .top-store-products>h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .top-products {
    gap: 1rem
  }
}